body {
/*	background-color: #9fc2d2;*/
/*	background-image: url('images/hydrangea2.jpg');*/
}

h2 {
/*	font-family: 'Alex Brush', cursive;
	font-size: 40px;*/
}

p {
/*	font-family: 'Georgia';*/
}

body {
  position: relative;
/*  padding-top: 50px;*/
}


.mainphoto {
	padding-top: 50px;
}
